name: Continuous Deployment

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Execute Remote Deployment
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT || 49348 }} # Uses 22 if secret isn't set
          script: |
            cd /opt/bots/volatility_bot
            
            # 1. Pull the latest code
            git pull origin master
            
            # 2. Update dependencies
            ./venv/bin/pip install -r requirements.txt
            
            # 3. Restart the new service name
            sudo systemctl restart volatility_bot.service
            
            # 4. Verify the bot is active
            systemctl is-active volatility_bot.service